<tr>
    <td>1</td>
    <td>Username</td>
    <td>example@gamil.com</td>
    <td>Male</td>
    <td>Active</td>
    <td>1</td>
    <td>
        <a href="/update-user" class="btn border-shadow update"> <span class="text-grad"><i class="fas fa-pencil-alt"></i></span></a>
        <a  class="btn border-shadow delete"> <span class="text-grad"><i class="fas fa-times"></i></span></a>
    </td>
</tr>